.list_element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    padding: .5em 1em;
    background-color: #95D5B2;
    border-radius: 6px;
}

.list_delete_button, .list_done_button {
    border: transparent;
    outline: transparent;
    background: transparent;
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_title {
    color: #124228;
}

.list_done_button {
    color: #156e28;
}

.list_buttons {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

::-webkit-scrollbar {
    width: 0px;
  }