.task_form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    gap: 1em;
}

.task_form label {
    font-size: 1.5em;
    font-weight: 600;
    color: #D8F3DC;
}

.task_form input {
    border: 1px #D8F3DC solid;
    background-color: transparent;
    outline: transparent;
    height: 40px;
    font-size: 1em;
    padding: 0 .5em;
    color: #D8F3DC;
    border-radius: 4px;
}

.task_button, .close_form_button {
    width: 100%;
    height: 40px;
    background-color: #1B4332;
    color: #B7E4C7;
    font-size: 1em;
    border: transparent;
    outline: transparent;
    cursor: pointer;
    border-radius: 4px;
}

.close_form_button {
    margin-top: .5em;
    background-color: #103a28;
    font-size: 1em;
    font-weight: 500;
}

.error {
    border-color: #ff8080 !important;
}

.show_error {
    display: block;
    color: #fd6262;
}

.hide_error {
    display: none !important;
}